.form {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 12px;
}
.logo_img {
  margin-left: 12px;
}
.logo_name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px 12px;
}
.input {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  padding: 6px 4px;
  font-size: 1.5rem;
  height: 1.9rem;
  line-height: 1.5rem;
}

.input_form {
  position: relative;
  right: : 3px;
}
