.all {
  background-color: black;
  margin: 28px 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: normal;
  flex-basis: 20%;
  border: 3px solid black;
  border-radius: 8px;
  transition: all 200ms ease-in;
}
.all:hover {
  transform: scale(1.02);
  border-radius: 12px;
}

.chTitle {
  color: white;
  margin: 0px 4px;
}

.title {
  font-size: 1.1rem;
  color: white;
}

.img {
  border-radius: 8px;
}
