form {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 1.5rem;
  padding: 4px 8px;
}

.input {
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 4px;
  outline: none;
  margin: 0px 6px;
}
